# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
venv/
ENV/
env/


# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
nohup.out

# OS
.DS_Store
Thumbs.db

retrieval_model/dense_instruction_e5-mistral/*
#retrieval_model/hq_small_collection/*
retrieval_model/dense_instruction_qwen3-0.6b/*
